body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f6f9;
}
h1{
  border-bottom:2px solid #eee;
  padding-bottom:8px;
}
h2{
  border-bottom:2px solid #eee;
  padding-bottom:8px;
}
header{
  background:#2c3e50;
  color:white;
  padding:20px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  max-width:1000px;
  margin:30px auto;
  background:white;
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}
button{
  background:#3498db;
  color:white;
  border:none;
  padding:12px;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#2980b9;
}

.comentario{
  background:#eef3f8;
  padding:10px;
  border-radius:6px;
  margin-top:10px;
}
form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

input, textarea{
  padding:10px;
  border:1px solid #ccc;
  border-radius:6px;
}
.galeria{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
}

.galeria img{
  width:400%;
  height:300px;
  object-fit:cover;
  border-radius:8px;
}